.page-header {
    border-bottom: 1px solid #ECECEC;

  &__container {
    display: flex;
  }

  &__site-nav {
    display: flex;
    align-items: center; 
  }

  &__menu {
    display: flex;
    margin-left: 70px;   
  }

}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14; 
  list-style: none;
}

.logo {
  color: var(--primary-text-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  &__part {
   color: var(--accent-color);
  }

  &_color-dark {
    color: var(--primary-text-color);
  }

  &_color-light {
    color: var(--primary-white-color);
  }
}

.menu {
  &__item {
    display: flex;
  }

  & .menu__item + .menu__item {
    margin-left: 50px;
  }

  &__link {
    color: var(--primary-text-color);

    padding-top: 32px;
    padding-bottom: 32px;
  
    display: flex;
    align-items: center;

     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,    
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }

  &__link_current {
    color: var(--accent-color);
  }

  &__link_current::after {
    content:"";
    height: 4px;
    width: 100%;
    /* margin-top: 39px; */
    left: 0;
    bottom: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
  } 
}

.menu__item {
    position: relative;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &__item {
    display: flex;
    align-items: center;

    fill: var(--primary-grey-color);
  }

  & .contacts__item + .contacts__item {
    margin-left: 50px;
  }

  &__link {
    color: var(--primary-grey-color);

    padding-top: 32px;
    padding-bottom: 32px;
  
    display: flex;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,    
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }

  &__icon {
    display: flex;
    text-align: center;
    margin-right: 10px;
  }
}
